
body{
	background-color:#8e82f8;
}

.input{
  width : 400px;
  margin: 2px;
}

form{
  margin: 0 auto;
  width: 400px;
  /* Esquema del formulario */
  padding: 1em;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 1em;
}

input, select{
  width : 200px;
  margin: 2px;
}

p{
    text-align: center;
    font-family:Tahoma, sans-serif;
    font-size: 1.2em;
}

.cabecera{
    text-align: center;
    font-family: Tahoma, sans-serif;
}

h4{
    font-family:Tahoma, sans-serif;
    font-size: 1.2em;
    margin: 5px;
}

h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

input[type="submit"]{
  text-align: center;
  width: 100px;
}


